/* body {
    background-color: #fdfdf4;
} */

/* 
.navbar {
    position: fixed;
    z-index: 99;
} */

a {
    color: #91091e;
}
#header-img {
    margin-top: 100px;
}

.media {
    display: flex;
}
.media-body {
    margin-left: 20px;
    flex: 1;
}

.img-thumbnail {
    width: 200px;
    height: auto;
}

hr {
    width: 100%;
}

#banner {
    position: relative;
}
#join-button {
    position: absolute;
    bottom: 4em;  
    left: 10em;
}

.alert-cancelled {
    float: right;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.alert-past {
    float: left;
    position: absolute;
    left: 1rem;
    top: 1rem;
}
/* Overwrite default Bootstrap styles */
.card-img-top {
    height: 16rem;
    overflow: hidden;
}
.card {
    margin-top: 1rem;
}
.btn-primary {
    background-color: #597813;
    border-color: #475e10;
}
.btn-primary:hover, .btn-primary:focus  {
    background-color: #728c36;
}
.bg-primary {
    background-color: rgb(144, 165, 95);
}

.btn-static {
    background-color: #6a9603;
    border: 1px solid #4a6804;
}
.google-maps-img {
    width: 100px;
    height: auto;
}

#map-div {
    position: fixed;
}