.navbar {
    position: fixed;
    z-index: 99;
}
#header-img {
    margin-top: 100px;
}

.media {
    display: flex;
}
.media-body {
    margin-left: 20px;
    flex: 1;
}
.img-thumbnail {
    width: 200px;
    height: auto;
}

hr {
    width: 50%;
}

